* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #12122c;
}

/* main section */
#hero{
    margin: 2em 0.5em 0 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 100px;
}

.hero-left {
  width: 100%;
  margin-bottom: 2em;
}

.hero-left h1 {
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 45px;
  margin-bottom: 0.3em;
}
.hero-left p {
  font-size: 1.3em;
  max-width: 450px;
  line-height: 30px;
  margin-bottom: 1.1em;
}

.hero-btn {
  border-radius: 4px;
  border: none;
  background: #f5a623;
  padding: 1.2em;
  width: 150px;
  cursor: pointer;
}

.hero-btn a {
  color: #12122c;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
}

/* hero images */
.hero-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* first image */
.hero-images div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 5em;
}

.hero-images div:nth-child(1)::before {
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: #f5a623;
  position: absolute;
  top: 30px;
  left: 0;
}

.hero-images div:nth-child(1) img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  right: 100px;
}

/* second image */
.hero-images div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 1em 0;
}

.hero-images div:nth-child(2) img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  right: 50px;
}

.hero-images div:nth-child(2)::before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 4px;
  background: #f2f2f2;
  position: absolute;
  top: 10px;
  left: 100px;
}
.hero-images div:nth-child(2)::after {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #12122c;
  position: absolute;
  top: 30px;
  left: 120px;
}

/* third image */
.hero-images div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 3em 0 4em 0;
}
.hero-images div:nth-child(3) img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 80px;
  right: 135px;
}

/* fourth image */
.hero-images div:nth-child(4) {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-top: 5em;
  margin-bottom: 3em;
}
.hero-images div:nth-child(4) img {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 15px;
  left: 10px;
}

/* fifth image */
.hero-images div:nth-child(5) {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.hero-images div:nth-child(5) img {
  width: 60px;
  height: 60px;
  margin-right: 2em;
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-bottom: #f2f2f2 solid 0.5px;
  border-right: #f2f2f2 solid 0.1px;
  border-radius: 4px;
}

.hero-images div:nth-child(5)::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #f5a623;
  position: absolute;
  bottom: -30px;
  left: 170px;
}

.Ambas-program {
  background-color: #167c80;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 9em 2em 3em;
}
.Ambas-program h2,
.Ambas-program p {
  color: #f2f2f2;
}

.Ambas-program h2 {
  font-size: 2em;
  font-weight: 700;
  max-width: 550px;
  line-height: 40px;
  margin-bottom: 20px;
}
.Ambas-program p {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 30px;
}

.barter-text {
  color: #f5a623;
}

.section-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-content-column {
  padding: 10px;
}
.section-content h3 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
  color: #1d222c;
  font-weight: 900;
}

.section-content p :not(:last-child) {
  margin-bottom: 20px;
}

.section-content .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: flex-start;
  font-size: 16px;
  line-height: 26px;
  padding-left: 40px;
  color: #4f4f4f;
  list-style: none;
  flex-basis: 100%;
  max-width: 420px;
}

.section-content .list li {
  color: #4f4f4f;
  flex-basis: 100%;
  position: relative;
}
.section-content .list li:before {
  background-color: rgba(22, 124, 128, 0.14);
  background-image: url(../../assets/images/svg/check-solid.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}
.section-content .figures {
  display: flex;
  margin: 10px;
}
.figures .figure {
  background-color: #f2f2f2;
  border-radius: 100%;
  flex: 0 1 auto;
  margin: 0;
  overflow: hidden;
}
.figures img {
  border-style: none;
}
.figures .figure .image {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.figures .fig--1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  color: #1d222c;
}

.figures .fig--1 .figure-box {
  background-color: #12122c;
  border-radius: 100%;
  line-height: 1.15;
}

.figures:nth-child(3) {
  align-items: flex-end;
}

.figures .fig--6 {
  background-color: #167c80;
  margin-bottom: 30px;
}

.closing {
  padding: 80px 15px 100px;
  text-align: center;
}
.closing--ambassador {
  background-color: #f4e6bc;
}

.closing--container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.closing--heading {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 900;
}

.closing--ambassador .closing--text {
  max-width: 760px;
}
.closing--text {
  line-height: 36px;
  color: #333;
  font-size: 16px;

  margin-bottom: 30px;
}

.closing--ambassador .closing--btn {
  font-size: 18px;
  line-height: 20px;
  padding: 15px 40px;
}

.closing--btn {
  background-color: #f5a623;
  border-radius: 4px;
  color: #12122c;
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (min-width: 0px) {
  .hero-images div:nth-child(1) img {
    position: absolute;
    top: 0;
    right: 60px;
  }

  .hero-images div:nth-child(2) img {
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .hero-images div:nth-child(2)::before {
    position: absolute;
    top: 0;
    left: 40px;
  }

  .hero-images div:nth-child(2)::after {
    position: absolute;
    top: 20px;
    left: 60px;
  }

  .hero-images div:nth-child(3) img {
    position: absolute;
    top: 70px;
    right: 70px;
  }

  /* fourth image */
  .hero-images div:nth-child(4) {
    margin-bottom: 1.2em;
  }
  .hero-images div:nth-child(4) img {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 30px;
  }

  .hero-images div:nth-child(5) img {
    margin-right: 1em;
    position: absolute;
    bottom: -10px;
    right: 0px;
  }

  .hero-images div:nth-child(5)::before {
    position: absolute;
    z-index: 1;
    bottom: -6px;
    left: 107px;
  }
}

@media screen and (min-width: 480px) {
  .hero-images div:nth-child(1) img {
    position: absolute;
    top: 0;
    right: 100px;
  }

  .hero-images div:nth-child(2) img {
    position: absolute;
    top: 0px;
    right: 40px;
  }

  .hero-images div:nth-child(2)::before {
    position: absolute;
    top: 0;
    left: 120px;
  }

  .hero-images div:nth-child(2)::after {
    position: absolute;
    top: 20px;
    left: 140px;
  }

  .hero-images div:nth-child(3) img {
    position: absolute;
    top: 70px;
    right: 180px;
  }

  /* fourth image */
  .hero-images div:nth-child(4) {
    margin-bottom: 2em;
  }
  .hero-images div:nth-child(4) img {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 30px;
  }

  .hero-images div:nth-child(5) img {
    margin-right: 1em;
    position: absolute;
    bottom: -10px;
    right: 30px;
  }

  .hero-images div:nth-child(5)::before {
    position: absolute;
    z-index: 1;
    bottom: -50px;
    left: 230px;
  }

  .section-content {
    margin: 15px;
  }
}
@media (min-width: 500px) {
  .figures .fig--1 {
    height: 120px;
    width: 120px;
  }

  .figures .fig--1 .figure-box {
    height: 89px;
    width: 89px;
  }
  .figures .fig--2 {
    height: 180px;
    width: 180px;
  }
  .figures .fig--5 {
    height: 163px;
    width: 163px;
  }
  .figures .fig--6 {
    height: 80px;
    width: 80px;
  }
  .section-content {
    margin: 15px;
  }
}

@media (min-width: 650px) {
  .figures .fig--3 {
    height: 200px;
    width: 200px;
  }
  .figures .fig--4 {
    height: 262px;
    width: 262px;
  }
  .section-content {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) {
  #hero {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 2em;
  }

  .hero-left {
    max-width: 100%;
  }

  .hero-left h1 {
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 76px;
    margin: 0.5em 0 0.3em 0;
  }

  .hero-left p {
    font-size: 2em;
    max-width: 700px;
    line-height: 40px;
    margin-bottom: 1.1em;
  }

  .hero-images div:nth-child(1)::before {
    display: none;
  }

  .hero-images div:nth-child(1) {
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
  }

  .hero-images div:nth-child(1) img {
    width: 164px;
    height: 170px;
    position: absolute;
    top: 0;
    right: 470px;
  }

  /* second image */
  .hero-images div:nth-child(2) {
    padding: 0 0 6em 0;
    margin: 0 0;
  }

  .hero-images div:nth-child(2) img {
    width: 100px;
    height: 97px;
    position: absolute;
    top: 10px;
    right: 30px;
  }

  .hero-images div:nth-child(2)::before {
    width: 196px;
    height: 196px;
    position: absolute;
    top: 10px;
    left: 0px;
  }
  .hero-images div:nth-child(2)::after {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    background: #12122c;
    position: absolute;
    top: 65px;
    left: 50px;
  }

  /* third image */
  .hero-images div:nth-child(3) {
    position: relative;
    padding: 0 0 6em 0;
  }
  .hero-images div:nth-child(3) img {
    width: 160px;
    height: 164px;
    position: absolute;
    top: 110px;
    right: 475px;
  }

  .hero-images div:nth-child(4) {
    margin-bottom: 6em;
  }
  .hero-images div:nth-child(4) img {
    width: 390px;
    height: 360px;
    position: absolute;
    top: 110px;
    left: 250px;
  }

  .hero-images div:nth-child(5) {
    margin-bottom: 1.2em;
  }

  .hero-images div:nth-child(5) img {
    position: inherit;
    top: 0;
    right: 10px;
  }

  .hero-images div:nth-child(5)::before {
    width: 120px;
    height: 120px;
    bottom: -175px;
    left: 50px;
  }

  .Ambas-program {
    padding: 14em 2em 6em;
  }
  .Ambas-program h2,
  .Ambas-program p {
    color: #f2f2f2;
  }

  .Ambas-program h2 .section-content h3 {
    font-size: 3em;
    max-width: 550px;
    line-height: 55px;
  }

  .Ambas-program p .section-content p {
    font-size: 1.275em;
    line-height: 40px;
    max-width: 720px;
  }

  .section-content {
    flex-direction: row;
    margin: 50px;
    padding: 14em 2em 6em;
  }
  .section-content-column {
    width: calc(52% - 60px);
  }
  .section-content-column :not(:last-of-type) {
    margin-bottom: 0;
  }
  .section-content-column:nth-child(2) {
    margin-bottom: 0;
  }

  .section-content p :not(:last-child) {
    margin-bottom: 25px;
  }
  .section-content p {
    font-size: 26px;
    line-height: 40px;
  }
  .section-content .list li:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .section-content .list li {
    font-size: 16px;
    line-height: 26px;
    padding-left: 40px;
  }
  .section-content .list li:before {
    background-size: 16px;
    height: 24px;
    width: 24px;
  }
  .section-content-column .small {
    width: calc(48% - 60px);
  }
  .figures:first-child {
    align-items: flex-end;

    margin-bottom: 0;
    padding: 0;
  }
  .figures .fig--1 {
    margin-bottom: -26%;
    margin-left: -27%;
  }
  .figures:nth-child(2) {
    align-items: flex-end;
    margin-bottom: 0;
    padding: 0;
  }

  .figures .fig--3 {
    margin-bottom: -22%;
    margin-left: -21%;
  }
  .figures:nth-child(3) {
    justify-content: space-between;
    padding-top: 50px;
  }
  .figures .fig--5 {
    margin-left: auto;
    margin-right: 88px;
  }
  .figures .fig--6 {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1350px) {
  #hero {
    flex-direction: row;
    margin: 2em 10em;
  }

  .hero-left {
    width: 55%;
  }

  .hero-right {
    width: 45%;
    margin-top: 2em;
  }

  .hero-images div:nth-child(1) img {
    right: 215px;
  }

  .hero-images div:nth-child(2) img {
    right: 90px;
  }

  .hero-images div:nth-child(3) img {
    right: 220px;
  }

  .hero-images div:nth-child(4) {
    margin-bottom: 5em;
  }

  .hero-images div:nth-child(4) img {
    position: absolute;
    top: 13px;
    left: -380px;
  }

  .hero-images div:nth-child(5) img {
    position: inherit;
    top: 20px;
    right: 70px;
  }

  .hero-images div:nth-child(5)::before {
    bottom: -120px;
    left: -560px;
  }
}
