.landingText__container{
    max-width: 1440px;
    margin: 0 auto;
    height: 140%;
    position: relative;
    padding: 0 20px;
}
.landing__container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.landingText__content{
  width: 100%;
 
}
.landingText__content h1{
    text-align: center;
}
.landingText__content p{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 40px;
    max-width: 750px;
    text-align: center;
}
.landing__h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 56px;
    margin-bottom: 20px;
    will-change: color;
}
.landing__apps{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing__apps a{
    display: flex;
    font-size: 30px;
    align-items: center;
    border: 2px solid #1d222c;
    white-space: nowrap;
    border-radius: 3px ;
    color: inherit;
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.landing__apps a:hover{
    transform: translateY(-7px);
}
.landing__apps .icon{
    margin-right: 5px;
    fill: #00040a;
}
.landing__dot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.landing__dot .dot1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00040a;
    margin-right: 5px;
    background-color: #f5a623;
    cursor: pointer;
}
.landing__dot .dot2{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
       .landing__apps a{
        padding: 10px 10px;
        font-size: 15px;
        white-space: nowrap;
        margin: 5px;
    }
    
    .landingText__container{
        height: 140%;
    }
    .landing__dot{
        margin-top: 50px;
    }
}