.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #fff;
    
}
.container{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}
.nav{
    padding: 20px 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    cursor: pointer;
    width: 155px;
    height: 34px;
}
.apply{
    display: flex;
    align-items: center;
    list-style: none;
}
.anchor{
    text-decoration: none;
    color: #4f4f4f;
}
.barter{
    color: #4f4f4f;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    padding: 3px;
    text-transform: capitalize;
    margin-right: 30px;
}
.icon{
    /* background-color: black; */
    color: black;
    width: 20px;
    transition: .5s ease-in;
}

@media only screen and (max-width: 750px) {
    .nav ul{
      display: none;
    }
}
@media only screen and (max-width: 750px) {
    .nav{
        padding: 30px 0;
      border-bottom: 1px solid rgba(18,18,44,.07);;
    }
    .logo{
        width: 100px;
        height: 30px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav{
        padding: 20px 20px;
      justify-content: space-between;
    }
}

