.landingFooter__container{
    max-width: 1440px;
    margin: -80px 0 0 0;
}
.landingFooter__content{
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}
.landingFooter__content p{
    color: #333;
    font-size: 20px;
    font-weight: 500;

}

.landing__footer-flutter{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.landing__footer-flutter p{
    margin-right: 20px;
}
.landing__footer-flutter a{
    margin-right: 10px;
}
.landing__footer-icons{
    display: flex;
}



@media only screen and (max-width: 768px) {
    .landingFooter__content{
        width: 100%;
        padding-top: 150px!important;
        padding: 0;
        text-align: center;
        flex-direction: column-reverse;
    }
    .landing__footer-flutter{
        justify-content: center;
        flex-direction: column;
    }
    .landing__footer-icons{
        margin-top: 10px;
    }
}